@import "../utils/styles/mixin.scss";

.asoul-breadcrumb {
  display: inline-flex;
  padding: 0.2rem;
  .asoul-breadcrumb-item {
    user-select: none;
    .asoul-breadcrumb-content {
      display: inline-flex;
      color: var(--secondary_color_30);
      width: auto;
      line-height: 1.2;
      cursor: pointer;
      &.disabled {
        cursor: default;
      }
      &:hover {
        color: var(--theme_color_30);
      }
    }
    .asoul-breadcrumb-separator {
      display: inline-flex;
      padding: 0 0.3rem;
      align-items: center;
      cursor: default;
      width: fit-content;
      height: fit-content;
      color: var(--secondary_color);
    }
    &:last-child {
      .asoul-breadcrumb-content {
        color: var(--theme_color);
      }
      .asoul-breadcrumb-separator {
        display: none;
      }
    }
  }
}
