@import "../utils/styles/mixin.scss";

.asoul-h1 {
  @include font_color(primary_color);
  font-weight: lighter;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.asoul-h2 {
  @include font_color(primary_color);
  font-weight: lighter;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.asoul-h3 {
  @include font_color(primary_color);
  font-weight: lighter;
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

.asoul-tip {
  display: block;
  @include font_color(secondary_color);
  font-size: 1rem;
  padding-left: 1rem;
  margin: 1.5rem 0;
  border-left: 3px solid;
  @include border_color(theme_color);
}

.asoul-text {
  @include font_color(primary_color);
  display: inline-flex;
  text-decoration: none;
  &.indent {
    text-indent: 2em;
  }
  &.italic {
    font-style: italic;
  }
  &.underline {
    text-decoration: underline;
  }
  &.delete {
    text-decoration: line-through;
  }
  &.code {
    white-space: nowrap;
    padding: 0 0.35em;
    @include background_transparent(sub_color, 0.6);
    border-radius: 5px;
  }
}

.asoul-text {
  &.primary {
    @include font_color(theme_color);
  }
  &.success {
    color: $successDefault;
  }
  &.warning {
    color: $warningDefault;
  }
  &.error {
    color: $errorDefault;
  }
}
