@import "../utils/styles/theme.scss";

.asoul-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.asoul-col-1 {
    display: block;
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
}

.asoul-col-2 {
    display: block;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
}

.asoul-col-3 {
    display: block;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.asoul-col-4 {
    display: block;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
}

.asoul-col-5 {
    display: block;
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
}

.asoul-col-6 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
}

.asoul-col-7 {
    display: block;
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
}

.asoul-col-8 {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.asoul-col-9 {
    display: block;
    flex: 0 0 37.5%;
    max-width: 37.5%;
}

.asoul-col-10 {
    display: block;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

.asoul-col-11 {
    display: block;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
}

.asoul-col-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.asoul-col-13 {
    display: block;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
}

.asoul-col-14 {
    display: block;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}

.asoul-col-15 {
    display: block;
    flex: 0 0 62.5%;
    max-width: 62.5%;
}

.asoul-col-16 {
    display: block;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}

.asoul-col-17 {
    display: block;
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
}

.asoul-col-18 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
}

.asoul-col-19 {
    display: block;
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
}

.asoul-col-20 {
    display: block;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
}

.asoul-col-21 {
    display: block;
    flex: 0 0 87.5%;
    max-width: 87.5%;
}

.asoul-col-22 {
    display: block;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
}

.asoul-col-23 {
    display: block;
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
}

.asoul-col-24 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
}

.asoul-col-offset-24 {
    margin-left: 100%;
}

.asoul-col-offset-23 {
    margin-left: 95.83333333%;
}

.asoul-col-offset-22 {
    margin-left: 91.66666667%;
}

.asoul-col-offset-21 {
    margin-left: 87.5%;
}

.asoul-col-offset-20 {
    margin-left: 83.33333333%;
}

.asoul-col-offset-19 {
    margin-left: 79.16666667%;
}

.asoul-col-offset-18 {
    margin-left: 75%;
}

.asoul-col-offset-17 {
    margin-left: 70.83333333%;
}

.asoul-col-offset-16 {
    margin-left: 66.66666667%;
}

.asoul-col-offset-15 {
    margin-left: 62.5%;
}

.asoul-col-offset-14 {
    margin-left: 58.33333333%;
}

.asoul-col-offset-13 {
    margin-left: 54.16666667%;
}

.asoul-col-offset-12 {
    margin-left: 50%;
}

.asoul-col-offset-11 {
    margin-left: 45.83333333%;
}

.asoul-col-offset-10 {
    margin-left: 41.66666667%;
}

.asoul-col-offset-9 {
    margin-left: 37.5%;
}

.asoul-col-offset-8 {
    margin-left: 33.33333333%;
}

.asoul-col-offset-7 {
    margin-left: 29.16666667%;
}

.asoul-col-offset-6 {
    margin-left: 25%;
}

.asoul-col-offset-5 {
    margin-left: 20.83333333%;
}

.asoul-col-offset-4 {
    margin-left: 16.66666667%;
}

.asoul-col-offset-2 {
    margin-left: 8.33333333%;
}

.asoul-col-offset-1 {
    margin-left: 4.16666667%;
}