@import "../utils/styles/theme.scss";

.asoul-footer {
    width: 100%;
    position: relative;
    background-color: $primaryDefault;

    .asoul-footer-row {
        display: flex;
        justify-content: space-around;
        max-width: 1024px;
        margin: 0 auto;
        padding: 16px 0;
    }

    .asoul-footer-copyright {
        width: 100%;
        text-align: center;
        background-color: transparentize($gray, 0.8);
        color: $white;
        font-weight: bold;
        padding: 12px 0;
    }
}