@import "asoul-ui/utils/styles/mixin.scss";

h1 {
  color: var(--asoul-primary-color);
  font-weight: lighter;
  font-size: 2rem;
  margin: 1.5rem 0;
}

h2 {
  color: var(--asoul-primary-color);
  font-weight: lighter;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

h3 {
  color: var(--asoul-primary-color);
  font-weight: lighter;
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

tip {
  display: block;
  color: var(--asoul-secondary-color);
  font-size: 1rem;
  padding-left: 1rem;
  margin: 1.5rem 0;
  border-left: 3px solid;
  border-color: var(--asoul-theme-color);
}

text {
  color: var(--asoul-primary-color);
  font-size: 1rem;
}

codeblock {
  display: block;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin: 1.5rem 0;
  border: 1px solid;
  border-color: var(--asoul-theme-color-50);
}
