// Themes

:root {
  --theme_color: #576690;
  --theme_color_90: rgba(87, 102, 144, 0.9);
  --theme_color_80: rgba(87, 102, 144, 0.8);
  --theme_color_60: rgba(87, 102, 144, 0.6);
  --theme_color_50: rgba(87, 102, 144, 0.5);
  --theme_color_30: rgba(87, 102, 144, 0.3);
  --theme_color_20: rgba(87, 102, 144, 0.2);
  --theme_color_10: rgba(87, 102, 144, 0.1);
  --primary_color: #252525;
  --primary_color_12: rgba(37, 37, 37, 0.12);
  --secondary_color: #656667;
  --secondary_color_90: rgba(101, 102, 103, 0.9);
  --secondary_color_80: rgba(101, 102, 103, 0.8);
  --secondary_color_30: rgba(101, 102, 103, 0.3);
  --sub_color: #cccccc;
  --sub_color_90: rgba(204, 204, 204, 0.9);
  --sub_color_80: rgba(204, 204, 204, 0.8);
  --sub_color_60: rgba(204, 204, 204, 0.6);
  --invert_color: #ffffff;
  --invert_color_30: rgba(255, 255, 255, 0.3);
}

.theme-dark {
  --theme_color: #576690;
  --theme_color_90: rgba(87, 102, 144, 0.9);
  --theme_color_80: rgba(87, 102, 144, 0.8);
  --theme_color_60: rgba(87, 102, 144, 0.6);
  --theme_color_50: rgba(87, 102, 144, 0.5);
  --theme_color_30: rgba(87, 102, 144, 0.3);
  --theme_color_20: rgba(87, 102, 144, 0.2);
  --theme_color_10: rgba(87, 102, 144, 0.1);
  --primary_color: #ffffff;
  --primary_color_12: rgba(255, 255, 255, 0.12);
  --secondary_color: #cccccc;
  --secondary_color_90: rgba(204, 204, 204, 0.9);
  --secondary_color_80: rgba(204, 204, 204, 0.8);
  --secondary_color_30: rgba(204, 204, 204, 0.3);
  --sub_color: #656667;
  --sub_color_90: rgba(101, 102, 103, 0.9);
  --sub_color_80: rgba(101, 102, 103, 0.8);
  --sub_color_60: rgba(101, 102, 103, 0.6);
  --invert_color: #252525;
  --invert_color_30: rgba(37, 37, 37, 0.3);
}
