// theme color

$AvaTheme:rgba(154, 200, 226, 1);
$BellaTheme:rgba(189, 125, 116, 1);
$CarolTheme:rgba(184, 166, 217, 1);
$DianaTheme:rgba(231, 153, 176, 1);
$EileenTheme:rgba(87, 102, 144, 1);

$primaryDefault:$EileenTheme;

$successLight:rgba(88, 224, 0, 1);
$successDefault:rgba(20, 209, 0, 1);
$successDark:rgba(0, 185, 69, 1);

$warningLight:rgba(255, 222, 0, 1);
$warningDefault:rgba(255, 209, 0, 1);
$warningDark:rgba(255, 195, 0, 1);

$errorLight:rgba(255, 44, 0, 1);
$errorDefault:rgba(251, 0, 13, 1);
$errorDark:rgba(235, 0, 59, 1);

$black:rgba(37, 37, 37, 1);
$gray:rgba(101, 102, 103, 1);
$grayLight:rgb(204, 204, 204);
$white:rgba(255, 255, 255, 1);

// Size

$mini:9px;
$small:14px;
$medium:16px;
$large:22px;