// colors

$AvaTheme: #9ac8e2;
$BellaTheme: #bd7d74;
$CarolTheme: #b8a6d9;
$DianaTheme: #e799b0;
$EileenTheme: #576690;

$primaryDefault: $EileenTheme;

$successLight: #58e000;
$successDefault: #14d100;
$successDark: #00b945;

$warningLight: #ffde00;
$warningDefault: #ffd100;
$warningDark: #ffc300;

$errorLight: #ff2c00;
$errorDefault: #fb000d;
$errorDark: #eb003b;

$black: #252525;
$gray: #656667;
$grayLight: #cccccc;
$white: #ffffff;

// Size

$mini: 9px;
$small: 14px;
$medium: 16px;
$large: 22px;
