@import "../utils/styles/mixin.scss";

.asoul-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.asoul-row-justify-center {
  justify-content: center;
}

.asoul-row-justify-end {
  justify-content: flex-end;
}

.asoul-row-justify-space-around {
  justify-content: space-around;
}

.asoul-row-justify-space-between {
  justify-content: space-between;
}

.asoul-row-align-middle {
  align-items: center;
}

.asoul-row-align-bottom {
  align-items: flex-end;
}
