@import "../utils/styles/mixin.scss";

.asoul-divider {
  margin: 1rem 0;
  width: 100%;
  border-bottom: 2px solid;
  border-color: var(--theme_color_60);

  &.dashed {
    border-bottom: 2px dashed;
    border-color: var(--theme_color_60);
  }
}
