@import "../utils/styles/mixin.scss";

.asoul-statistic {
  .asoul-statistic-label {
    @include font_transparent(secondary_color, 0.3);
  }
  .asoul-statistic-content {
    @include font_color(primary_color);
    // margin-top: 0.25rem;
    font-size: $medium * 1.5;
    &.primary {
      @include font_color(theme_color);
    }
    &.success {
      color: $successDefault;
    }
    &.warning {
      color: $warningDefault;
    }
    &.error {
      color: $errorDefault;
    }
  }
}
