@import "../utils/styles/mixin.scss";

.asoul-statistic {
  .asoul-statistic-label {
    color: var(--asoul-secondary-color-30);
  }
  .asoul-statistic-content {
    color: var(--asoul-primary-color);
    // margin-top: 0.25rem;
    font-size: $medium * 1.5;
    &.primary {
      color: var(--asoul-theme-color);
    }
    &.success {
      color: $successDefault;
    }
    &.warning {
      color: $warningDefault;
    }
    &.error {
      color: $errorDefault;
    }
  }
}
