@import "../utils/styles/mixin.scss";

.asoul-numberflow {
  color: var(--primary_color);
  display: inline-flex;
  text-decoration: none;

  &.indent {
    text-indent: 2em;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  &.delete {
    text-decoration: line-through;
  }

  &.code {
    white-space: nowrap;
    padding: 0 0.35em;
    background-color: var(--sub_color_60);
    border-radius: 5px;
  }
}

.asoul-numberflow {
  &.primary {
    color: var(--theme_color);
  }

  &.success {
    color: $successDefault;
  }

  &.warning {
    color: $warningDefault;
  }

  &.error {
    color: $errorDefault;
  }
}
