@import "../utils/styles/mixin.scss";

.asoul-footer-title {
  color: var(--invert_color);
  font-weight: bold;
  font-size: $medium * 1.1;
  line-height: $medium * 1.5;
  width: 100%;
  max-width: 612px;
  white-space: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
