@import "../utils/styles/mixin.scss";

.asoul-card {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: all 0.2s ease;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--asoul-sub-color);
  background-color: var(--asoul-invert-color);
  color: var(--asoul-primary-color);
}

.asoul-card {
  &.hoverable {
    &:hover {
      box-shadow: 0 8px 30px var(--asoul-primary-color-12);
    }
  }

  &.shadow {
    box-shadow: 0 5px 10px var(--asoul-primary-color-12);
    border-color: transparent;
  }

  &.inverse {
    background-color: var(--asoul-theme-color);
    color: var(--asoul-invert-color);
  }
}

.asoul-card {
  .asoul-card-content {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    & *:first-child {
      margin-top: 0;
    }

    & *:last-child {
      margin-bottom: 0;
    }
  }
}
