@import "../utils/styles/mixin.scss";

.asoul-progress {
  .asoul-progress-bar {
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    display: flex;
  }

  .asoul-progress-linear-background {
    height: 4px;
    background-color: var(--asoul-theme-color-30);
  }

  .asoul-progress-linear-determinate {
    height: 4px;
    background-color: var(--asoul-theme-color);
  }
}
