@import "../utils/styles/mixin.scss";

.asoul-progress {
  .asoul-progress-line {
    height: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    .asoul-progress-line-outer {
      position: relative;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
      height: 4px;
      .asoul-progress-line-background {
        height: 4px;
        background-color: var(--asoul-theme-color-30);
      }

      .asoul-progress-line-completed {
        height: 4px;
        background-color: var(--asoul-theme-color);
      }
    }
    .asoul-progress-line-info {
      display: none;
    }
  }

  .asoul-progress-line-with-info {
    .asoul-progress-line-outer {
      display: flex;
      width: 100%;
    }
    .asoul-progress-line-info {
      display: flex;
      width: fit-content;
      color: var(--asoul-primary-color);
      font-size: 1em;
      line-height: 1;
      padding: 0 0.5em;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      word-break: normal;
      text-align: right;
      .asoul-progress-line-info-text {
        font-size: 0.75em;
      }
    }
    &-success {
      .asoul-progress-line-outer {
        .asoul-progress-line-background {
          background-color: var(--asoul-success-dark-30);
        }

        .asoul-progress-line-completed {
          background-color: var(--asoul-success-dark);
        }
      }
      .asoul-progress-line-info {
        color: var(--asoul-success-dark);
      }
    }
    &-fail {
      .asoul-progress-line-outer {
        .asoul-progress-line-background {
          background-color: var(--asoul-error-dark-30);
        }

        .asoul-progress-line-completed {
          background-color: var(--asoul-error-dark);
        }
      }
      .asoul-progress-line-info {
        color: var(--asoul-error-dark);
      }
    }
  }

  .asoul-progress-line-active {
    .asoul-progress-line-outer {
      .asoul-progress-line-completed::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        border-radius: 10px;
        opacity: 0;
        animation: asoul-progress-line-active-animation 2.4s
          cubic-bezier(0.23, 1, 0.32, 1) infinite;
        content: "";
      }
    }
  }
}

@keyframes asoul-progress-line-active-animation {
  0% {
    width: 0;
    opacity: 0.1;
  }
  20% {
    width: 0;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
