@import "../utils/styles/mixin.scss";

.asoul-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--asoul-sub-color);

  .asoul-empty-description {
    margin-top: 0.75rem;
    font-size: 0.5rem;
    line-height: 1.1;
  }
}
