@import "../utils/styles/mixin.scss";

.asoul-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .asoul-empty-description {
        margin-top: 0.75rem;
        @include font_color(primary_color);
        font-size: $medium;
        line-height: 1.1;
    }
}